<?xml version="1.0" ?>

<launch>
  <param command="$(find xacro)/xacro $(find irckt_description)/urdf/irckt.xacro" name="robot_description"/>
  
  <node args="-param robot_description -urdf -model irckt" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find irckt_description)/launch/controller.launch"/>

  <!--
    $ sudo apt-get install ros-melodic-joint-state-controller
$ sudo apt-get install ros-melodic-effort-controllers
$ sudo apt-get install ros-melodic-position-controllers
-->

</launch>
